#root {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #1a1a1a;
}

.App {
  width: 100%;
  height: 100%;
}

header {
  margin-bottom: 0;
}

main {
  padding: 0;
  height: 100%;
  overflow: hidden;
}

